.profile {
    position: absolute;
    top: 160px;
    text-align: center;
    left: 100px
}

@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

.profile h2 {

    color: #2D354A;
    font-family: roboto;
    weight: 300;

}
.email{
    color:#7C8097;
  font-size:12px;
  weight:100;
  font-family:roboto;
}

/* .profile img{
    border: 3px solid red;
} */